name: ML Training Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Create output directory
      run: mkdir -p output

    - name: Run training
      run: python train.py
    
    - name: Job Summary
      run: |
        echo "## Lab 2 Results" >> $GITHUB_STEP_SUMMARY
        echo "**Name:** Sri Deekshaa" >> $GITHUB_STEP_SUMMARY
        echo "**Roll No:** 2022BCS0205" >> $GITHUB_STEP_SUMMARY
        cat output/results.json >> $GITHUB_STEP_SUMMARY

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: model-and-results
        path: output/
